body { line-height:150%; background:rgb(11,11,11); color:rgb(230,230,230); font-family:sans-serif; margin:60px 0 100px 0; }
a { color:rgb(170,170,192); text-decoration:none; }
a:hover { text-decoration:underline; }
main { max-width: 700px; width: 94%; margin:0 auto; }
pre { display: block; padding:20px; border-left:4px solid rgb(85,85,85); background:rgb(43,43,43); white-space:pre-wrap; font-size:1rem; }
pre code { display:block; }

.code.sql { color:rgb(0,170,0); font-style:italic; }

code.meme var { font-style:normal; }
.meme .v2 { color:rgb(0,170,170); } /* A */
.meme .v3 { color:rgb(213,128,0); } /* .R */
.meme .v4 { color:rgb(213,128,0); font-style:italic; } /* 'R */
.meme .v5 { color:rgb(213,0,213); } /* :B */
.meme .v6 { color:rgb(0,192,0); font-style:italic; } /* =Q */
.meme .v10 { color:rgb(0,192,0); } /* !=Q */
.meme .v12 { color:rgb(0,192,0); } /* >Q */
.meme .v13 { color:rgb(0,192,0); } /* >=Q */
.meme .v14 { color:rgb(0,192,0); } /* <Q */
.meme .v15 { color:rgb(0,192,0); } /* <=Q */
.meme .v16 { color:rgb(0,192,0); } /* #=Q */


table { width:100%; margin-bottom:2.5em; }
th { text-align:left; background:rgb(43,43,43); padding:6px; }
td { background:rgb(36,36,36); padding:6px; }
td.a {width:30%;}
td.r {width:30%;}
td.b {width:30%;}
th.q, td.q {width:10%; text-align: right; }